DATABASE_URL="postgresql://postgres:postgres@localhost:5432/what_did_you_do?schema=public"
PORT=3000
JWT_SECRET="replace-with-at-least-32-random-bytes-before-production"
AUTH_DISTRIBUTION_REGION="CN"
